body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
	list-style-type: none; 
}

li {
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0, 0, 0, 0.55);
	margin: 0 auto;
	margin-bottom: 1em;
	padding: 1em;
	width: 50%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6); 
}

p, form {
	margin: 0 auto;
}

.add-contact {
	margin-top: 1em;
}
